extends layout

block content
  h1= title
  table.table.table-striped
      thead 
        tr
          td Product
          td Version
          td Date
      tbody
        each record in records
          tr
            td
              = record.product
            td
              = record.version
            td
              = record.time.toLocaleString()
    if ! records.length
      .alert.alert-info(role="alert") No crashdumps found