extends layout

block content
  h1 Login
  form.form-signin(action='login', method='post')
    h2.form-signin-heading Please sign in
    div
      label.sr-only username:
      input#inputEmail.form-control(type='text', name='username', placeholder="Username", required, autofocus)
    div
      label.sr-only password:
      input#inputPassword.form-control(type='password', name='password', placeholder="Password", required)
    div
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
